<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歌手列表</title>
    <link rel="stylesheet" href="/app.css">
    <style>

    </style>
</head>


<body>
    <img src="baidu.png" alt="" srcset="">
    <div class="container">

        <h2>歌手列表</h2>

        <% for(let i=0; i < singersList.length; i++) { %>
            <div class="item">
                <img src="<%= singersList[i].singer_pic%>" alt="">
                <h4>
                    <%= singersList[i].singer_name%>
                </h4>
            </div>
            <%}%>
    </div>
</body>

</html>